<!DOCTYPE html>
<htmllang="pt-br">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Adriel x Glauco</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/the-big-picture.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/sweetalert2/4.1.5/sweetalert2.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <div class="row">
         <h1 style="position: absolute;z-index: 999;left: 36%;color: #FFF;top: 45%;">De que lado você está?</h1>
            <div class=" col-md-6 col-sm-12 full text-center vertical-center" style="height:100vh;">
                <button ng-click="votar(1)" class="btn btn-success btn-circle btn-xl" style="margin: 0 auto;">VOTAR</button>
            </div>
            <div class=" col-md-6 col-sm-12 full1 text-center vertical-center" style="height:100vh;">
                <button ng-click="votar(2)" class="btn btn-success btn-circle btn-xl" style="margin: 0 auto;">VOTAR</button>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sweetalert2/4.1.5/sweetalert2.min.js"></script>
        <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
           $scope.votar = function(voto){
               sweetAlert(
                  'Obrigado...',
                  '<img src="img/amigos.jpg" width="30%">',
                  'success'
                )
           }
        });
    </script>
</body>

</html>
